{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<br>
<h4><a href="{% url 'home' %}" >back to home</a></h4>
<h3>{{post.user}}'s  profile</h3>
<img src="{{post.user.profile.image.url}}" style="width: 200px; height: 200px; border-radius: 100px;" >
<h3>Bio : {{post.user.profile.bio}}</h3>
<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

        <div class="feature col">
            
            <h2>Title</h2>
            <br>
            <h5 class="fs-5">{{post.title}}</h5>
            <br>
            <h2>Body</h2>
            <br>
            <h5 class="fs-5">{{post.body}}</h5>
            
            <br>
            <br>        
            {% if like is None %}

            <h5 style="color: darkgreen;"> likes {{post.like}} &nbsp;<a href="{% url 'login' %}"> login first  </a> </h5>
  
            {%elif post.id in like%}

            <h5 style="color: darkgreen;"> likes {{post.like}} &nbsp; &nbsp; <a href="{% url 'dislike' post.id %}"> <img src="{% static 'like.png' %}" style="width: 25px; height: 25px;" > </a> </h5>

            {%else%}

            <h5 style="color: darkgreen;"> likes {{post.like}} &nbsp; &nbsp; <a href="{% url 'like' post.id%}"> <img src="{% static 'dislike.png' %}" style="width: 25px; height: 25px;" > </a> </h5>

            {%endif%}
           
            <h7>{{post.created_time|timesince}}&nbsp;ago</h7>
      </div>

    
    
</div>    
        

{% endblock %}
{% block side %}
  {% include 'side.html' %}
{% endblock %}