{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<br>
<h4>{% translate 'Your Search' %}</h4> <h4><a href="{% url 'home' %}" >{% translate 'back to home' %}</a></h4>
<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    {% for post in posts %}

        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center  bg-gradient fs-2 mb-3">
              
                {% if post.user != request.user %}
                <img src="{{ post.user.profile.image.url }}" style="width:80px; height: 80px; border-radius: 100px;" > &nbsp; <h5><a href="{% url 'user-profile' post.user.id%}" >@{{post.user}}</a></h5>
                {% else %}
                <img src="{{ post.user.profile.image.url }}" style="width:80px; height: 80px; border-radius: 100px;" > &nbsp; <h5><a>@{{post.user}}</a></h5>
                {% endif %}
 
            </div>
            <h3 class="fs-4">{{post.title}}</h3>
            <p>{{ post.body| truncatewords:25}}</p>
            <a href="{% url 'post-view' post.id %}" class="icon-link d-inline-flex align-items-center">
            {% translate 'See More' %}
            <br>
            </a>
                        
                        
            {%if post.id in like%}
            <h5 style="color: darkgreen;"> {% translate 'likes' %} {{post.like}} &nbsp; &nbsp; <a href="{% url 'dislike' post.id %}"> <img src="{% static 'like.png' %}" style="width: 25px; height: 25px;" > </a> </h5>
            {%else%}
            <h5 style="color: darkgreen;"> {% translate 'likes' %} {{post.like}} &nbsp; &nbsp; <a href="{% url 'like' post.id%}"> <img src="{% static 'dislike.png' %}" style="width: 25px; height: 25px;" > </a> </h5>
            {%endif%}
            <h7>{{post.created_time|timesince}}&nbsp;{% translate 'ago' %}</h7>
      </div>
    {% empty %}
      <h4>{% translate 'No Post Found' %}</h4>
    {% endfor %}    
</div>

<nav aria-label="Another pagination example">
    <ul class="pagination pagination-lg flex-wrap">

        {% if page_obj.has_previous %}
            <li class="page-item"> <a class="page-link" href="?page=1">{% translate 'First' %}</a></li>
            <li class="page-item"> <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{% translate 'previous' %}</a> </li> 
        {% endif %}

        {% for num in page_obj.paginator.page_range %}

            {% if page_obj.number == num  %}
            <li class="page-item active" aria-current="page"> <a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
            <li class="page-item"> <a class="page-link"  href="?page={{ num }}">{{ num }}</a> </li>
            {% endif %}

            {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item"> <a class="page-link"  href="?page={{ page_obj.next_page_number }}">{% translate 'next' %}</a> </li>
            <li class="page-item"> <a class="page-link"  href="?page={{ page_obj.paginator.num_pages }}">{% translate 'last' %} </a> </li>
        {% endif %}

    </ul>
</nav>
     
{% endblock %}
{% block side %}
    {% include 'side.html' %}
{% endblock %}
