{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<br>
<h4>{% translate 'Your Posts' %}</h4> <h4><a href="{% url 'home' %}" >{% translate 'back to home' %}</a></h4>
<br>
<h5>{% blocktranslate with count=posts.count %} you have {{count}} posts {% endblocktranslate %}</h5>
<div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    
    {% for post in posts %}
        
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center  bg-gradient fs-2 mb-3">
             
              <img src="{{ post.user.profile.image.url }}" style="width:80px; height: 80px; border-radius: 100px;" > &nbsp; <h5><a>@{{post.user}}</a></h5>
             
            </div>
            <h3 class="fs-4">{{post.title}}</h3>
            <p>{{ post.body| truncatewords:25}}</p>
            <a href="#" class="icon-link d-inline-flex align-items-center">
              {% translate 'See More' %}
            <br>
            </a>
                        
                        
            {%if post.id in like%}
            <h5 style="color: darkgreen;"> {% translate 'likes' %} {{post.likess.all.count}} &nbsp; &nbsp; <a href="{% url 'dislike' post.id %}"> <img src="{% static 'like.png' %}" style="width: 25px; height: 25px;" > </a> </h5>
            {%else%}
            <h5 style="color: darkgreen;"> {% translate 'likes' %} {{post.likess.all.count}} &nbsp; &nbsp; <a href="{% url 'like' post.id%}"> <img src="{% static 'dislike.png' %}" style="width: 25px; height: 25px;" > </a> </h5>
            {%endif%}
            <h7>{{post.created_time|timesince}}&nbsp;{% translate 'ago' %}</h7>
            <h6> <a href="{% url 'update-post' post.id%}">{% translate 'Update you post' %}</a></h6>
            <h6> <a href="{% url 'delete-post' post.id %}" style="color: crimson;" >{% translate 'Delete your post' %}</a> </h6>
      </div>
    {% empty %}
      <h4>{% translate "you Don't have any post yet " %} <a href="{% url 'add-post' %}" >{% translate 'Add New One' %}</a></h4>
    {% endfor %}    
</div>    


{% endblock %}
{% block side %}
  {% include 'side.html' %}
{% endblock %}