{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}


    {% if not request.user.is_authenticated %}    

            <form method="post" >

                {% csrf_token %}
                {{form | crispy}}
            
                <button type="submit" class="btn btn-primary">register</button>


            </form>
            <h5>already have an account? <a href="{% url 'login'%}" >login</a></h5>

    {% else %}
        <h5>you've already have an account do you like to <a href="{% url 'logout'%}" >logout?</a></h5>
    {% endif %}
  
{% endblock %}